body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  padding: 50px;
/*  background: linear-gradient(45deg, #DEDDDF, #9B9A96) center center no-repeat;
*/  line-height: 1.4;
}

/*---------*/
/*  MENU   */
/*---------*/
.navbar
{
    background: black; 
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav
{
    background: #000000; 
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse
{
    text-align: center;
    background: #000000;  /*pour avoir toute la bande noir derriere le menu*/
    border-color: black !important;
}
.navbar li a
{
    color: #b57aff !important; /*ecriture du menu*/
    font-weight: bold;
}
.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: #b57aff !important; /*ecriture du menu survole de la souris*/
    background-color: #2e2a2a !important; /*fond du menu survole de la souris*/
    font-weight: bold;
    font-size: 15px; /* grossissement du text menu au survol*/
}
.navbar-default .navbar-toggle
{
    border-style: none !important;
    border-color: black !important;
    background-color: black !important; /*couleur de fond du menu responsive*/
}
.icon-bar
{
    background-color: #8047C7 !important;
}
.navbar-header{
  background-color: black !important;
}




.title {
  font-size: 25px;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 25px;
}

.item {
  margin: 40px 10px;
  background-color: #fff;
  box-shadow: 0 15px 35px #0000,0 5px 15px #545454;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}

.item:hover  {
  transform: translate3d(0, -10px, 0);
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.item__body {
  padding: 25px;
}

.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
  text-align: center;
}

.item__description {
  color: #585858;
  text-align: center;
}

.items {
  position: relative;
  text-align: center;
}
/*---------------*/
/*    CAROUSEL  */
/*-------------*/
.carousel {
  position: relative;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFF url(right.svg) center center no-repeat;
  background-size:  20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: -20px;
  box-shadow: 0 15px 35px #0000,0 5px 15px #0000; /*effet d'ombre*/
  cursor: pointer;
  transition: transform 0.5s, opacity 0.5s;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2)
}

.carousel__prev {
  background-image: url(left.svg);
  right: auto;
  left: -20px;
}

.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
}

.carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.carousel__pagination__button {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #000000;
  transition: transform 0.3s;
  cursor: pointer;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 800px) {
  .carousel__pagination {
    display: block;
  }
}

/*---------------*/
/* FORMULAIRE   */
/*-------------*/
#formulaire-responsive {
  max-width:600px /*-- à modifier en fonction de la largeur désirée --*/;
  margin:0 auto;
        width:100%;
}
.nomChamp{
  color: #8047C7;
  float: left;
  position: relative;
  padding: 8px/*0.65rem*/;
  width:100%;
  -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

}
.demi-colonne, .colonne {
  float: left;
  position: relative;
  padding: 0.65rem;
  width:100%;
  -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
}

.red{
  color: #f40505;
}
.fas fa-arrow-alt-circle-down{
  font-size:40px;
} /*voir comment grossir la fleche*/