/*GENERAL*/
html, body{
    font-family: Arial,sans-serif;
    font-size: 15px;
    height: 100%;/* que sa prenne la hauteur des navigateurs  */
    margin: 0;
    padding: 0; /*pour que sa supp les marges par defaut*/
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 66px; /*hauteur*/
    line-height: 66px; /*hauteur de ligne*/
    color: #956436;
}
a {/* supp soulignement & coloré le texte du menu*/
    text-decoration: none;
    color: #444;
    float: right;
    padding: 15px;
}
/* HEADER*/
.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
header nav ul li{ /*sur la meme ligne*/
    float:left;
    display: inline-block;
}
header nav ul li a{ /* decoller logo de la gauche*/

    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
/*  IMAGE*/
#main-image
{
	margin-top: 150px;
    height: 200px;
    border-radius: 5px; /*contour de l'img*/
    background: url('images/montagne1.jpg')center;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}
/* ARTICLE & A PROPOS*/

/*FOOTER*/
