$menu-width:250px!default;

@media only screen and (max-width: 750px) {
    .site-pusher, .site-container{ height: 100%; }
    .site-container{ overflow: hidden; }
    .site-pusher{
        @include transition-duration(0.3s);
        @include transform(translateX(0px));
    }
    .site-content{
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .header{
        position: static; /*pour s'adapter au mobile*/
    }
    .header__icon{
        position: relative;
        display: block;
        float: right;
        width: 100px;
        height: 180px;

        cursor: pointer;

        &:after{
            content:'';
            position: absolute;
            display: block;
            width: 1rem;
            height: 0;
            top: 13px;  /*c'est pour la hauteur du sandwich*/
            right: 15px; /*espace de marge*/
            @include box-shadow(0 10px 0 1px #59DD07, 0 16px 0 1px #59DD07, 0 22px 0 1px #59DD07);
        }
    }

    .menu{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: pink;

        width: 1rem;
        height: 250px;

        @include transform(translateX(width:1rem));
        a{
            display: block;
            height: 40px;

            text-align: center;
            line-height: 40px;

            border-bottom: 1px solid pink;
        }
    }


    .with--sidebar{
        .site-pusher{ @include transform(translateX($menu-width * -1)); }
        .site-cache{
            position: relative;
            width: 600px;
            height: 400px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: red;/*rgba(0,0,0,0.6);*/
        }
    }
}