/*TITRE*/
.title
{
    color: #017dc5;
}
/* MENU */
.navbar
{
    background: #fff; /*couleur de la bande d'en haut derriere le menu; */
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-collapse /*titres du site */
{
    text-align: center;
    font-family: 'Indie Flower', cursive; /* voir si plus joli*/
}
.navbar li a
{
    color: #0179bf !important; /* couleur ecriture du menu */
}
.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: #6c7f89 !important; /*couleur ecriture du menu selectionné*/
    /*background-color: #0179bf !important; couleur de fond du menu selectionné*/
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important;
}      
/*IMAGE EN DESSOUS DU MENU ET AU DESSUS DE QUI SOMME NOUS*/
#presentation
{
    background: #017dc5;/* couleur de fond derriere l'img*/
    text-align: center; /* centrer l'img sur le fond bleu*/
    padding-top: 300px; /* taille de la couleur de fond*/
    vertical-align: 150%; /* centrer verticalement l'img*/
}
/* GENERAL */

*
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
h1,h2,h3,h4
{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 45px; 
    text-align: center;
}
p
{
    text-align: center;
    line-height: 20px;
    color: #017dc5;
    font-size: 20px;
}

ul
{
    list-style: none;
    color: #fff; /* texte partie nos metiers*/

}
a
{
    text-decoration: none;
    color: #444;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.white
{
    color: #fff;
}
.clear
{
    clear: both;   
}
small
{
    font-size: 20px;    
    font-style:italic;
}

/* HEADER */

header 
{
    height: 120px;   
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;   
    margin-top: 50px;
}
header nav ul li
{
   font-family: 'Indie Flower', cursive;
    float:left;
    display: inline-block;
    font-size: 20px;
}
header nav ul li a
{
    font-family: 'Indie Flower', cursive;
    /*text-transform: uppercase;*/
    font-weight: normal;
    margin-right: 20px;
    font-size: 20px;
}
.flotte /*logo Nemoxia*/
{
    float: left;
}

/* MAIN IMAGE 

#main-image
{
    height: 580px;
    background: url('images/logo.jpg') center;
}   voir une img autre sa ne rend pas beau
*/
#main-image h1 /*qui sommes nous */
{
    font-weight: normal;
    text-align: center;
    padding: 100px 0 20px 0;/* espace coté au dessus et en dessous du titre */
}


/* STEPS */

#steps ul
{
    margin: 80px 0;
    font-size: 20px;
}
#steps ul li
{
    width: auto;/**/
    float:center;
    padding-top: auto;/**/
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  
}
#steps h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; 
}
#steps 
{
    font-size: 20px;
    background-color: #017dc5;/*couleur du fond de la partie contact bleu*/
    padding: 60px;  /* l'ecart du titre et le haut de page*/
    border-radius: 15px; /* arrondis des coins sur la partie metiers*/

}

#steps p
{
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
}


/* POSSIBILITIES */

/*couleur fond gris leger*/
#possibilities
{
    padding: 60px 0;
    text-align: center;
}
#possibilities article
{
    width: auto; /* titre nos metiers*/
    height: auto; /*couleur de fond qui s'ajuste a la quantité de texte */
    float: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

article h2/*ligne en dessous de 2 titres*/
{
    border-bottom:  1px solid #017dc5;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
#possibilities .about p
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

#possibilities .about h1 /* au secour */
{
    text-align: center;
}


/*CONTACT*/
#adresse{
    display: none; /* pour le cacher aux utilisateur*/
}
.white
{
    color: #fff; /*des champs obligatoire !!!*/
    font-family: 'Indie Flower', cursive; /* pour que le menu et nemoxia en bas de page es la meme police*/
}
#contact
{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    text-align: center;
    background: #017dc5; /*  couleur derriere la partie contact  */
}
#contact .heading h2
{
    text-align: center;
    color: #017dc5;
}
#champs
{
    font-size: 20px; /* taille de la police des noms des champs*/
    background:#017dc5;/*cfd3f9; pour fair un contraste */
    padding: 30px; /* pour faire la difference entre le bord du blanc et le fond blanc*/
    border-radius: 15px; /* pour faire la difference entre lefond blanc*/
    color: #000000; /*couleur du text nom des champs*/
}/*
textarea[name=message]
{
 resize : both;
 min-width : 100px;
 min-height : 100px;
 max-width : 200px;
 max-height : 200px;
}*/
#contact-form
{
    font-family: 'Indie Flower', cursive;
    font-size: 15px; /* taille de la police des noms des champs*/
    background:#017dc5;/* contraste */
    padding: 30px; /* faire la difference entre le bord du blanc et le fond blanc*/
    border-radius: 10px; /* la difference entre lefond blanc*/
    color: #fff; /*couleur du text nom des champs*/
}
.form-control
{
    height: 70px;
    font-size: 20px;
    color: #017dc5; /* couleur des encadrer*/
}
#contact
{
    font-size: 20px; /* taille de la police des noms des champs*/
    background:#017dc5;/* */
    padding: 30px; /* pour faire la difference entre le bord du blanc et le fond blanc*/
    border-radius: 15px; /* pour faire la difference entre lefond blanc*/
    color:black; /*couleur du text nom & nom des champs*/
}
#contact-form input[type=submit]
{
    margin:40px auto 0px;
    font-size: 20px;
}
.button2 /*bouton envoie parti contact*/
{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff; /*couleur text avant d'envoyer*/
    border: 4px solid black; /* encadrer du bouton envoyer*/
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    background: transparent;
}
.button2:hover
{
    background: white;
    color: #017dc5; /*ecriture du contact envoyer */
    text-decoration: none;
    font-size: 20px;
}
#contact .heading service
{
    font-size: 20px;
    color: #017dc5; /* couleur de "service a contacté"*/
}

.thank-you /* phrase quand l'envoie du form a fonctionné*/
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;

}

/* FOOTER */

footer
{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    height: 260px;
    background-color: white; /*#444;*/
}
footer h1
{
    font-family: 'Indie Flower', cursive;
    color: #017dc5;
    text-align: center;
    padding-top: 100px;
}
.copyright
{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
    color: #017dc5;
    font-size: 18px;
}









































